/* StopWatch */

.stopwatch{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    background-color: #0e4d92;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}

.stopwatch .header{
    font-size:2rem;
    color :#e5eff7;
    padding:0.5rem;
}

.stopwatch .watch .watch-timer{
    font-size: 2rem;
    padding: 2rem;
}

.watch{
    background-color: white;
    padding-bottom: 1rem;
}

.watch .control{
    display: flex;
    justify-content: center
}

.watch .control button{
    border-radius: 0.35rem;
    border: 2px solid #8c8cff;
    background-color: #ffffff!important;
    color: #7574ff;
    padding: 0.35rem 0.5rem;
}
